<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Log base</title>
</head>
<body>
    <p>
      <a href="{% url 'learning_logs:index' %}">Learning Log</a> --
      <a href="{% url 'learning_logs:topics' %}">Topics</a> --

        {% if user.is_authenticated %}
            Hello, {{ user.username }}.
            <a href="{% url 'logout' %}">log out</a>
          {% else %}
            <a href="{% url 'register' %}">register</a> --
            <a href="{% url 'login' %}">log in</a>
        {% endif %}
    </p>


{% block content %}{% endblock %}

</body>
</html>