{% extends "learning_logs/base.html" %}

{% block content %}

  <p>
    <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
  </p>

  <p>Edit entry:</p>

  <form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">save changes</button>
  </form>

{% endblock content %}